*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

input {
  background-color: azure;
  padding-left: 8px;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}